*{
    font-family: "Darumadrop One", serif;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.tamanho-celular{
    width: 360px;
    height: 640px;
    background-color: white;
    border: 16px solid black;
    border-radius: 36px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.tela-celular {
    width: 100%;
    max-width: 300px;
    padding: 30px 20px;
    text-align: center;
}
.tela-celular h1{
    font-size: 22px;
    margin-bottom: 25px;
    color: rgb(117, 117, 240);
    text-align: center;
}

button{
    width: 90%;
    background-color: rgb(117, 117, 240);
    font-weight: bold;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    padding: 14px;
    cursor: pointer;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: rgb(117, 117, 240);
    font-size: 20px;
}
input{
   width: 90%;
    padding: 14px;
    margin-bottom: 18px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
}

@media (max-width: 480px){
    .tamanho-celular{
        border: none;
        border-radius: 0;
        width: 100vw;
        height: 100vh;
    }
}